html,
/*Styling for the body elements */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16pt;
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
}

/* Styling for the h1 element */
h1 {
  color: #FFFFFF;
  display: block;
  margin: auto auto;
  text-align: center;
  width: 400px;
  text-shadow: black 0px 0px 15px;
}

/* Styling for the h4 element */
h4 {
  color: #FFFFFF;
  display: block;
  margin: auto auto;
  text-align: center;
  width: 400px;
  text-shadow: black 0px 0px 15px;
}

/* Styling for the h5 element */
h5 {
  color: #FFFFFF;
  display: block;
  margin: auto auto;
  text-align: center;
  width: 400px;
  text-shadow: black 0px 0px 15px;
  border-width: 10px;
  border-color: #ff0000;
  border-radius: 10px;
  background-color: rgba(40, 40, 40, .7);
}

/* Styling for the thematic break element */
hr {
  border: 0;
  border-top: 1px solid #FFFFFF;
  opacity: 1;
  width: 90%;
}

/* Styling for the hyperlink elements */
a {
  color: #FFFFFF;
  text-decoration: none;
  text-shadow: black 0px 0px 15px;
}

/* Styling for the paragraph element */
p {
  color: #FFFFFF;
  text-decoration: none;
  text-shadow: black 0px 0px 15px;
}

/* Styling for the unordered list element */
ul {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 400px;
  color: #000000;
}

/* Styling for the nav element of the current webpage  */
.selected {
  text-decoration-style: double;
  text-decoration-line: underline;
  text-decoration-color: white;
}

/* Styling for the paragraph element with the ID para_center */
#para_center {
  display: block;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  text-shadow: black 0px 0px 15px;
  border-width: 10px;
  border-color: #ff0000;
  border-radius: 10px;
  background-color: rgba(40, 40, 40, .7);
  margin: auto auto;
  width: 95%;
}

/* Grid Styling for the main grid */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 20px;
  grid-column-gap: 50px;
  grid-template-rows: 100px auto;
  justify-content: space-evenly;
  align-content: center;
}

/* grid element styling */
.Logo {
  grid-column: 3;
  text-align: center;
}

/* grid element styling */
.Game {
  grid-row: 2;
  grid-column: 1;
  text-align: center;
}

/* grid element styling */
.Info {
  grid-row: 2;
  grid-column: 2;
  text-align: center;
}

/* grid element styling */
.Leaderboards {
  grid-row: 2;
  grid-column: 3;
  text-align: center;
}

/* grid element styling */
.Login {
  grid-row: 2;
  grid-column: 4;
  text-align: center;
}

/* grid element styling */
.Report {
  grid-row: 2;
  grid-column: 5;
  text-align: center;
}

/* grid element styling */
.content_play_area {
  grid-row: 3 / 6;
  grid-column: 1 / 5;
  justify-content: center;
  text-align: center;
}

/* grid element styling */
.footer {
  grid-area: 7 / 1 / 7 / 5;
  padding: 10px;
  text-align: center;
}

/* End of styling for the main grid */
/* Styling for the footer element */
footer {
  display: inline-block;
  text-shadow: black 0px 0px 15px;
  color: white;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 150px;
  width: 100%;
  border-radius: 10px;
  background-color: rgba(40, 40, 40, .7);
}

/* Grid styling for the Leaderboards */
.wrapper {
  max-width: 940px;
  margin: 0 auto;
  margin-top: 20px;
}

/* Grid styling for the Leaderboards */
.wrapper>div {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  background-color: rgba(40, 40, 40, .7);
  padding: 1em;
  color: #FFFFFF;
}

/* grid styling for rank 1 in leaderboard */
#one {
  grid-column: 1 / 3;
  grid-row: 1;
  text-align: center;
}

/* grid styling for rank 2 in leaderboard */
#two {
  grid-column: 1 / 3;
  grid-row: 1;
  text-align: center;
}

/* grid styling for rank 3 in leaderboard */
#three {
  grid-column: 1 / 3;
  grid-row: 1;
  text-align: center;
}

/* grid styling for rank 4 in leaderboard */
#four {
  grid-column: 1 / 3;
  grid-row: 1;
  text-align: center;
}

/* grid styling for rank 5 in leaderboard */
#five {
  grid-column: 1 / 3;
  grid-row: 1;
  text-align: center;
}

/* grid styling for rank 6 - 10 in leaderboard */
#six {
  grid-column: 1 / 3;
  grid-row: 1;
  text-align: center;
}

/* End of styling for the leaderboard grid */
/* Styling for the form element with the ID login_form */
#login_form {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  text-shadow: black 0px 0px 20px;
}
#registration_form {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  text-shadow: black 0px 0px 20px;
}

/* Styling for the hyperlink element with the id mail */
#mail {
  color: #268bd2;
  text-decoration-style: double;
  text-decoration-line: underline;
  text-decoration-color: white;
}

/* Styling for the details element */
details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: .5em .5em 0;
  border-radius: 10px;
  background-color: rgba(40, 40, 40, .7);
}

/* Styling for the summary elements that creates the heading for the details Elements */
summary {
  font-weight: bold;
  margin: -.5em -.5em 0;
  padding: .5em;
}

/* Styling for the details element when it is expanded */
details[open] {
  padding: .5em;
}

/* Styling for the details and summary elements when they are expanded*/
details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: .5em;
}

/* Styling for the paragraph element of the report class, used only in the html report page */
.report {
  font-size: 12pt;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  text-shadow: black 0px 0px 15px;
}

/* Styling for the paragraph element of the report class, used only in the html report page */
#report {
  font-size: 12pt;
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 400px;
  color: #FFFFFF;
}
